<!DOCTYPE html>
<html>
    <head>
        <title>
            BMI
        </title>       
    </head>
    <body style="background-color:#F9E79F  ;">
        
        <h1 style ="color:brown; margin:  100px 38% 100px;"> BMI CALCULATOR</h1>
        <div style="width:80%; margin: 100px 10% 100px;">
    
       
        <p style ="text-align: justify;">
            <strong> What is the body mass index (BMI)?</strong> </p>
            <p style ="text-align: justify;">

            The body mass index (BMI) is a measure that uses your height and weight to work out if your weight is healthy.

            The BMI calculation divides an adult's weight in kilograms by their height in metres squared. For example, A BMI of 25 means 25kg/m2.
        </p>
        <p style ="text-align: justify;">
            <strong> BMI ranges (BMI)?</strong>   </p>
            <p style ="text-align: justify;">
            For most adults, an ideal BMI is in the 18.5 to 24.9 range.
            For children and young people aged 2 to 18, the BMI calculation takes into account age and gender as well as height and weight.
            If your BMI is:
            
                      
           
            <ul>  
                <li>below 18.5 – you're in the underweight range</li>
                <li>between 18.5 and 24.9 – you're in the healthy weight range</li>
                <li>between 25 and 29.9 – you're in the overweight range</li> 
                <li>between 30 and 39.9 – you're in the obese range </li>  
            </ul>        
        </p>
    </div>
    </body>


</html>
